BODY {
	margin: 0px;
	padding: 0px;
	background: #fff;
	font-family: sans-serif;
}

#container {
	width: 850px;
	margin: auto;
	background: white;
	border: 2px solid #000;
	border-top: 0px;
	border-bottom: 8px solid #000;
	margin-top: 8px;
}

#header {
	padding: 16px;
	background: #000;
	color: white;
	border: 0px;
	border-bottom: 3px solid #000;
}

#header h1 {
	font-weight: normal;
	margin: 0px;
	font-size: 18pt;
}

#content {
	padding: 16px;
}