<h1>Deposit@Harvard</h1>
<div>
  <% @deposits.each do |deposit| %>
    <div class='deposit'>
      <h3><%= deposit.title %></h3>
      <p>Deposited to: <%= deposit.repositories || "none" %></p>
      <p><small>Deposited on: <%= deposit.created_at.strftime("%b %d, %Y") %></small></p>
    </div>
  <% end %>
</div>
